@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap);

@layer base {
  body *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.Header-h6):not(.Header-subtitle1) {
      @apply font-[Chakra+Petch] font-normal;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Work+Sans:wght@600&display=swap');

.Header-h5.Header-h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.Header-subtitle1.Header-subtitle1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}

.card {
  animation: float 2s ease-in-out infinite;
}

@keyframes slide_from_left {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}

.Header-h5.Header-h5 {
  animation: slide_from_left 1s ease-in-out;
}

.Header-subtitle1.Header-subtitle1 {
  animation: slide_from_left 1s ease-in-out 0.2s backwards; /* Add delay */
}
